services:
  backend:
    build:
      context: ./backend
    ports:
      - "8081:8080"
    networks:
      - fullstack-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - fullstack-network
    environment:
      - VITE_API_URL=http://backend:8081

networks:
  fullstack-network:
    driver: bridge
